################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Health-Tracking-App/.vs/Health-Tracking-App
/Health-Tracking-App/bin/Debug/net5.0
/Health-Tracking-App/obj
