################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Health-Tracking-Project/.vs/Health-Tracking-Project
/Health-Tracking-Project/Health-Tracking-API/bin/Debug/net5.0
/Health-Tracking-Project/Health-Tracking-API/obj
/Health-Tracking-Project/Health-Tracking-DataService/obj
/Health-Tracking-Project/Health-Tracking-DataService/bin/Debug/net5.0
/Health-Tracking-Project/Health-Tracking-Entities/obj
/Health-Tracking-Project/Health-Tracking-Entities/bin/Debug/net5.0
/Health-Tracking-Project/Health-Tracking-API/HealthTrackingApp.db-shm
/Health-Tracking-Project/Health-Tracking-API/HealthTrackingApp.db-wal
*.bin
/~$Notes.docx
/Health-Tracking-Project/Health-Tracking-Authentication/obj
/Health-Tracking-Project/Health-Tracking-Authentication/bin/Debug/net5.0
*.tmp
